
@{
    ViewData["Title"] = "State store";
}

<p>Randomly-generated value that was written to state store: @ViewBag.valueToStateStore</p>
<p>Value retrieved from state store: @ViewBag.valuefromStateStore</p>
<p>Value from input binding that was placed in state store: @ViewBag.valuefromInputBindingToStateStore</p>

<p>Note: If the value says <b>An error occurred when trying to write to the state store</b> or <b>An error occurred when trying to read from the state store</b>, this indicates that an issue occured (rather than that this was the actual value that was written to or read from state store). If the value says <b>Not applicable. Binding was not triggered</b>, this means that the input binding was not triggered. </p>



