@{
    ViewData["Title"] = "KeyVault via System-Assigned Managed Identity connection test";
}

<h3>KeyVault via System-Assigned Managed Identity connection test</h3>

<p>Result: <b>@ViewBag.Result</b></p>

