@{
    ViewData["Title"] = "KeyVault via User-Assigned Managed Identity connection test";
}

<h3>KeyVault via User-Assigned Managed Identity connection test</h3>

<p>Result: <b>@ViewBag.Result</b></p>

